@media(max-width: 537px){
    .main-historia{
        .historia{
            .div1{
                margin: 0 auto;
                img{
                    padding-right: 0;
                    padding-left: 0;
                }
                p{
                    padding-right: 0;
                    padding-left: 0;
                }
            }

        }
    }
}