@media(max-width: 853px){
    .main-contacto{
        div{
            .contactos1{
                padding-left: 3.5rem;
            }
            .contactos2{
                padding-right: 3.5rem;
                gap: 1.9rem;
            }
        }
    }
}