@media (max-width: 375px){
    .main-contacto{
        div{
            .contactos2{
                padding-left: 0;
                padding-right: 0;
                iframe{
                    width: 17.5rem;
                    height: 14.375rem;
                }
            }
        }
    }
    .main-tienda{
        div{
            .tienda{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .main-historia{
        .historia{
            .div2{
                img{
                    width: 100%;
                }
            }
        }
    }
}