@media(max-width: 494px){
    .header{
        div{
            nav{
                ul{
                    li{
                        a{
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .main-index{
        .section1{
            flex-direction: column;
            padding-right: 1.5rem
            ;
        }
        .section3{
            padding-left: 3rem;
            padding-right: 2rem;
        }
    }
    .main-about{
        .nosotros{
            p{
                padding-left: 2rem;
                padding-right: 2rem;
            }
        }
    }

}