.main-historia{
    .titulo{
        background-image: url('../assets/img/cafeBackground.png');
        width: 100%;
        height: 250px;
        background-repeat: no-repeat;
        background-size: cover;
        @include flex(column, nowrap, center, center, 0);
        grid-area: titulo;
        overflow: hidden;
        h1{
            font-size: 50px;
            color: #EED6C4;
            font-family: $main-font-family;
            text-align: center;
            animation-duration: 3s;
            animation-name: slidein;
        }
        h2{
            font-size: 35px;
            color: #EED6C4;
            font-family: 'Playfair Display', serif;
        }
    }
    .historia{
        padding: 1.5rem;
        @include flex (column, nowrap, none, center, 0);
        .div1{
            padding: 1.5rem;
            @include flex (row, nowrap, none, center, 0);
            img{
                height: 250px;
                padding-right: 6rem;
                padding-left: 3.5rem;
                &:hover{
                    -webkit-transform:scale(1.3);
                    transform:scale(1.3);
                }
            }
            p{
                color: #EED6C4;
                font-size: 18px;
                padding-right: 8rem;
                font-family: 'Playfair Display', serif;
                font-weight:lighter;
            }
        }
        .div2{
            @extend .div1;
            img{
                width: 75%;
                height: auto;
                padding-left: 0;
                padding-right: 3rem;
            }
            p{
                padding-right: 1rem;
            }
        }
        .div3{
            @extend .div1;
        }
    }
}